# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore the database.yml
/config/database.yml

# Ignore private file about requiring private gems
/config/initializers/private_gems.rb

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# YARD artifacts
.yardoc
_yardoc
doc/
